{% load django_bootstrap5 %}

<div class="modal fade" id="vacancy_add_responce" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Необходимо выбрать резюме</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="alert" class="alert alert-danger d-none" role="alert"></div>
          <form action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
              <div class="modal-body">
                {% csrf_token %}
                <div class="form">
                    {% bootstrap_form form %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" id="submit" class="btn btn-primary">Выбрать</button>
              </div>
          </form>
        </div>
      </div>
    </div>