{% extends 'base.html' %}
{% load static %}
{% block modal %}
    <span class="navbar-nav">
        <a class="nav-link" data-bs-toggle="modal" href="#login" role="button">Войти</a>
    </span>
    <span class="navbar-nav">
        <a class="nav-link" data-bs-toggle="modal" href="#register" role="button">Регистрация</a>
    </span>
    {% include 'login.html' %}
    {% include 'register.html' %}
{% endblock %}

{% block content %}
        {% if user.is_authenticated %}
        <div class="container">
            I'm here
        </div>
        {% else %}
            <div class="promo">
                <img class="d-block w-100" src="{% static 'img/main.jpg' %}" alt="promo">
                <div class="carousel-caption d-md-block">
                  <h1 class="promoText">Здесь вы можете найти любимую работу</h1>
                </div>
            </div>
        {% endif %}
{% endblock %}