{% extends 'base.html'%}
{% load django_bootstrap5 %}
{% block title%}
Edit Resume
{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'resume_edit' resume.pk %}" method="POST">
        {% csrf_token %}
        <div>
            <div>
                {% bootstrap_form form %}
            </div>
            <div>
                <a data-bs-toggle="modal" href="#education_create" class="btn btn-outline-secondary" role="button">Добавить место обучения</a>
            </div>
            <br>
            <div>
                <a id='link_experience' data-resume-id={{resume.pk}} data-bs-toggle="modal" class="btn btn-outline-secondary" href="#experience_create" role="button">Добавить опыт работы</a>
            </div>
            <div id="experience_card"></div>
            <br>
             <button type="submit" name="submit" class="btn btn-secondary">Создать резюме</button>
            {% include 'partial/experience_form.html' %}
            {% include 'partial/education_form.html' %}
        </div>
    </form>
    </div>
{% endblock %}
