{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    <div class="container">
        <form action="{% url 'resume_create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                {% bootstrap_form form_res_create %}
            </div>
            <div class="experience">
                <div class="row g-3">
                    <div class="col-auto"><button type="button" class="btn btn-outline-secondary" id="add_experience"> + </button></div>
                    <div class="col-auto">
                        <p class="title">Добавить опыт работы </p>
                    </div>

                </div>
                <div id="experience_card"></div>
            </div>

            <div class="footer">
                <button type="submit" id="submit_resume" class="btn btn-secondary">Создать</button>
                 <a href="{% url 'user_detail' user.pk %}" class="btn btn-secondary">Отменить</a>
            </div>
        </form>
    </div>
{% endblock %}
