{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
    <div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Авторизация</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        <div class="form">
                            {% csrf_token %}
                    
                            {% bootstrap_form form %}
                    
                            {% bootstrap_button button_type="submit" content='Войти' %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
