 <form action="" method="POST">
    <div class="row mb-3">
        <label for="inputUsername" class="col-sm-2 col-form-label">Логин</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUsername">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPass" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPass">
        </div>
    </div>
</form>
