{% load django_bootstrap5 %}

<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Аутентификация</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                 <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form">
                        {% bootstrap_form form_log %}
                        {% bootstrap_button button_type="submit" button_class="btn-secondary" content='Войти' %}
                    </div>
                </form>
          </div>
        </div>
      </div>
    </div>
