{% load django_bootstrap5 %}


<div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
              <div class="modal-body">
                {% csrf_token %}
                <div class="form">
                    {% bootstrap_form form %}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Регистрация</button>
              </div>
          </form>
        </div>
      </div>
</div>

