{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h3>Персональная страница {% if user_obj.is_worker %} соискателя {% else %} работодателя {% endif %}</h3>
            </div>
            <div class="col-3">
                <form action="{% url 'user_update' user_obj.pk %}" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update">Change</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                {% if user_obj.avatar %}
                    <img class="avatar_img" src="{{ user_obj.avatar.url }}" alt="user picture">
                {% else %}
                    <img class="avatar_img" src="http://dummyimage.com/150" alt="user picture">
                {% endif %}
            </div>
            <div class="col-7">
                {% if user_obj.is_worker %}
                    <h4>{{ user_obj.last_name }} {{ user_obj.first_name }}</h4>
                {% else %}
                    <h4>{{ user_obj.first_name }}</h4>
                {% endif %}
                <p>Email: {{ user_obj.email }}</p>
                <p>Телефон: {{ user_obj.phone }}</p>
                {% if user_obj.is_worker %}
                    <p>Дата рождения: {{ user_obj.birthday }}</p>
                {% else %}
                    <p>Дата основания компании: {{ user_obj.birthday }}</p>
                {% endif %}
            </div>

        </div>
        <h3 class="text-center clear">Resume:</h3>
        <p>здесь будет резюме </p>
         {% include 'user_update.html' %}
    </div>
{% endblock %}