{% load django_bootstrap5 %}

<div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Редактирование </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                 <form action="{% url 'user_update' user_obj.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'partial/form.html' with form=form fields_only=True %}
                    <br>
                    <input type="submit" class="btn btn-secondary" value="Update">
                </form>
          </div>
        </div>
      </div>
</div>



